// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
  
}

.form {
  border: 0.5px solid black;
  background-color: rgb(238, 235, 235);
}

.task-form {
  margin: 10px;
}

.text-area {
  resize: none;
}

.select-option {
  max-width: 150px;
}