// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
  
}

.form {
  border: 0.5px solid black;
  padding: 10px;
}

.task-form {
  margin: 10px;
}

.text-area {
  resize: none;
}

.select-option {
  max-width: 150px;
}

.alert {
  color:#262626; 
  background-color:#FFEBE8;
  border: 2px solid #e03535;
  text-align: center;
  font-weight:850;
  list-style: none;
}