<% if @user.errors.any? %>
  <%= form_with(model: @user, local: true) do |f| %>
    <div class="alert">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>      
  <% end %>
<% end %>